Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@alejandro-ao 
alejandro-ao
/
tbs-msc-data-projects
Private
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
tbs-msc-data-projects/.gitignore
@alejandro-ao
alejandro-ao Initial commit
Latest commit b30e312 10 minutes ago
 History
 1 contributor
39 lines (28 sloc)  570 Bytes

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
tbs-msc-data-projects/.gitignore at main · alejandro-ao/tbs-msc-data-projects
